RulesBasedAlertingService/Clients/Clients.VitalsDataClient/Service References/VitalsDataService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52344/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models.PatientVitals" />
  <xs:element name="WriteVitals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models.PatientVitals" minOccurs="0" name="vitals" nillable="true" type="q1:PatientVitals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteVitalsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>