RulesBasedAlertingService/Clients/Clients.AdditionalMonitoringClient/Service References/AdditionalDoctorDataService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Doctor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Doctor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52330/?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" type="tns:HospitalDepartment" />
      <xs:element minOccurs="0" name="DoctorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Patients" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Phone" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="tns:DoctorStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:simpleType name="HospitalDepartment">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="HospitalDepartment" nillable="true" type="tns:HospitalDepartment" />
  <xs:simpleType name="DoctorStatus">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="DoctorStatus" nillable="true" type="tns:DoctorStatus" />
</xs:schema>