RulesBasedAlertingService/Clients/Clients.AdditionalMonitoringClient/Service References/AdditionalNurseDataService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.HospitalBed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.HospitalBed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HospitalBed">
    <xs:sequence>
      <xs:element minOccurs="0" name="BedNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Campus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupancy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wing" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalBed" nillable="true" type="tns:HospitalBed" />
</xs:schema>