RulesBasedAlertingService/Clients/Clients.MonitoringClient/Service References/NurseMonitoringService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.PatientAlert" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.PatientAlert" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientAlert">
    <xs:sequence>
      <xs:element minOccurs="0" name="CriticalAlerts" nillable="true" type="tns:ArrayOfDeviceAlert" />
      <xs:element minOccurs="0" name="MuteAlert" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarningAlerts" nillable="true" type="tns:ArrayOfDeviceAlert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientAlert" nillable="true" type="tns:PatientAlert" />
  <xs:complexType name="ArrayOfDeviceAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceAlert" nillable="true" type="tns:DeviceAlert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceAlert" nillable="true" type="tns:ArrayOfDeviceAlert" />
  <xs:complexType name="DeviceAlert">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceAlert" nillable="true" type="tns:DeviceAlert" />
</xs:schema>